<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body data-bs-theme="dark">


    <!--TITULO-->
    <h2 class="m-5 text-sm-center title">Edita, modifica y crea tus propias preguntas</h2>

    
    <!--LISTA-->
    <div class="container-md d-flex flex-column p-2">
      <!--Añadir-->
      <button class="btn btn-light ms-auto mb-3 me-2"  onclick="spawnCreateForm()">
        <img src="/assets/icons/plus-lg.svg" alt="Añadir">
        Añadir
      </button>

      <!--Nueva pregunta-->
      <div id="createForm" action="/admin/newQuestion" method="PUT" enctype="multipart/form-data" class="bg-dark-subtle rounded shadow p-2 mb-3 row d-none" data-bs-theme="light">
          <div class="col-4">
            <input id="pregForm" class="form-control" type="text" placeholder="Ingresa tu pregunta">
          </div>
          <div class="col-1 my-auto">
            <button id="formValue" class="badge bg-success" onclick="changeValueForm()"> 
              True
            </button>
          </div>
          <div class="col-5 my-auto">
            <input id="imgForm" class="form-control form-control-sm" type="file">
          </div>
          <div class="col-2 my-auto">
            <button class="btn btn-success btn-sm" onclick="createQuest()">
              Acept
            </button>
            <button type="submit" class="btn btn-danger btn-sm" onclick="cleanCreateForm()">
              Cancel
            </button>
          </div>
        </div>


      <div id="sortable-list">
        <%function capitalizeFirstLetter(string){
          return string.toString().charAt(0).toUpperCase() + string.toString().slice(1)}
        %>

        <% preguntas.map((e, index)=>{ %>

          <div id="<%=e.id%>" class="list-element bg-body-secondary rounded shadow p-2 mb-3 d-flex flex-row justify-content-between align-items-center" data-order="<%=index%>">
            
            <!--DATOS-->
            <div class="d-flex align-items-center">
              <!--PREGUNTA-->
              <!--input class="form-control border-0" style="--bs-bg-opacity: .0;" type="text" placeholder="<%=e.preg%>" disable readonly-->
              <p class="lead my-auto ms-2 me-3">
                <%=e.preg%>
              </p>
              
              <!--VALOR-->
              <span class="badge d-none d-sm-inline <%= e.res ? "bg-success":"bg-danger"%>">
                <%= capitalizeFirstLetter(e.res)%>
              </span>
            </div>

            <!--BOTONES/PAD/IMAGEN-->
            <div class="d-flex align-items-center">

              <!--IMAGEN-->
              <img src="<%=e.img%>" alt="<%=e.alt%>" class="rounded me-3 d-none d-md-inline-block" style="height: 35px; width: 35px">

              <!--BOTONES-->
              <div class="ms-3 d-flex flex-column flex-sm-row ">

                <!--No se si queda bien con "btn-sm"-->
                <button class="btn btn-warning btn-sm border-0 m-1">
                  <img src="/assets/icons/pencil-square.svg">
                  <p class="d-none d-lg-inline" onclick="">Modify</p> 
                </button>

                <button class="btn btn-danger btn-sm border-0 m-1" onclick="deletePreg(this)"> 
                  <!--span class="glyphicon glyphicon-trash" aria-hidden="true"></span-->
                  <img src="/assets/icons/trash.svg">
                  <spam class="d-none d-lg-inline">Delete</spam> 
                </button>
                    
              </div>

              <!--PAD-->
              <div class="d-inline-block ms-2 handle" style="cursor: grab;">
                  <img src="/assets/icons/grip-vertical.svg" alt="grab">
              </div>
            </div>
                
          </div>

          <% }); %>
        </div>
    </div>

    <div id="liveAlertPlaceholder" class="container-md d-none">
      <div class="alert alert-warning d-flex justify-content-between p-2 ps-4" role="alert">
        <spam>Remember save changes!!</spam> 
        <div>
          <button id="save-btn" type="button" class="btn btn-primary btn-sm">Save</button>
          <button id="reset-btn" type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="alert">Reset</button>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.13.0/Sortable.min.js"></script>
    <script src="/javascript/admin.js"></script>
  </body>
</html>