<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel</title>
    <%- include('fragments/importBootstrap')%>
  </head>
  <body data-bs-theme="dark">

    <%-include('./fragments/navbar', {actualRoute: 'admin'})%>
    <%-include('./fragments/watermark')%>

    <!--TITULO-->
    <h2 class="m-5 text-sm-center title">Edita, modifica y crea tus propias preguntas</h2>

    
    <!--LISTA-->
    <div class="container-md p-2 vstack gap-3">
      <!--Añadir-->
      <button class="btn btn-light ms-auto me-2"  onclick="spawnCreateForm()">
        <img src="/assets/icons/plus-lg.svg" alt="Añadir">
        Añadir
      </button>

      <!--Nueva pregunta-->
      <form id="createForm" action="/admin/newQuestion" method="post" enctype="multipart/form-data" class="row bg-dark-subtle rounded shadow p-2 d-none" data-bs-theme="light">
          
        <div class="d-flex align-items-center mb-1 mb-md-0 col-md-6">
            <input id="pregForm" name="preg" class="form-control me-4" type="text" placeholder="Ingresa tu pregunta">
            <label for="formValueInput" id="formValue" class="btn badge bg-success" onclick="changeValueForm()">
              True
            </label>
            <input id="formValueInput" name="value" type="checkbox" value="true" class="d-none">
        </div>

        <div class="d-flex align-items-center justify-content-between col-md-6">
          <div class="me-2">
            <input id="imgForm" name="image" type="file" class="form-control form-control-sm" >
          </div>
            
          <div class="hstack gap-1">
            <a class="btn btn-success btn-sm" onclick="createQuest()">
              Acept
            </a>
            <a class="btn btn-danger btn-sm" onclick="cleanCreateForm()">
              Cancel
            </a>
          </div>
        </div>
      </form>


      <div id="sortable-list" class="vstack gap-3 overflow-auto">
        <%function capitalizeFirstLetter(string){
          return string.toString().charAt(0).toUpperCase() + string.toString().slice(1)}
        %>

        <% preguntas.map((e, index)=>{ %>

          <div id="<%=e.id%>" class="list-element bg-body-secondary rounded shadow p-2 d-flex flex-row justify-content-between align-items-center" data-order="<%=index%>">
            
            <!--DATOS-->
            <div class="d-flex align-items-center">
              <!--PREGUNTA-->
              <!--input class="form-control border-0" style="--bs-bg-opacity: .0;" type="text" placeholder="<%=e.preg%>" disable readonly-->
              <p class="lead my-auto ms-2 me-3">
                <%=e.preg%>
              </p>
              
              <!--VALOR-->
              <span class="badge d-none d-sm-inline <%= e.res ? "bg-success":"bg-danger"%>">
                <%= capitalizeFirstLetter(e.res)%>
              </span>
            </div>

            <!--BOTONES/PAD/IMAGEN-->
            <div class="d-flex align-items-center">

              <!--IMAGEN-->
              <img src="<%=e.img%>" alt="<%=e.alt%>" class="rounded me-3 d-none d-md-inline-block" style="height: 35px; width: 35px">

              <!--BOTONES-->
              <div class="ms-3 d-flex flex-column flex-sm-row ">

                <!--No se si queda bien con "btn-sm"-->
                <button class="btn btn-warning btn-sm border-0 m-1">
                  <img src="/assets/icons/pencil-square.svg">
                  <p class="d-none d-lg-inline" onclick="">Modify</p> 
                </button>

                <button class="btn btn-danger btn-sm border-0 m-1" onclick="deletePreg(this)"> 
                  <!--span class="glyphicon glyphicon-trash" aria-hidden="true"></span-->
                  <img src="/assets/icons/trash.svg">
                  <spam class="d-none d-lg-inline">Delete</spam> 
                </button>
                    
              </div>

              <!--PAD-->
              <div class="d-inline-block ms-2 handle" style="cursor: grab;">
                  <img src="/assets/icons/grip-vertical.svg" alt="grab">
              </div>
            </div>
                
          </div>

          <% }); %>
        </div>
    </div>

    <div id="liveAlertPlaceholder" class="container-md d-none">
      <div class="alert alert-warning d-flex justify-content-between p-2 ps-4" role="alert">
        <spam>Remember save changes!!</spam> 
        <div>
          <button id="save-btn" type="button" class="btn btn-primary btn-sm">Save</button>
          <button id="reset-btn" type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="alert">Reset</button>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.13.0/Sortable.min.js"></script>
    <script src="/javascript/admin.js"></script>
  </body>
</html>